@import "mixins.scss";
@import "variables.scss";

h3{
    color: $light;
}

a{
    color: $link;
}

p{
    color: $titre;
}

footer{
    display: flex;
    justify-content: center;
    a{
        list-style-type: none;
        text-decoration: none;
    }
}

.intro{
    h1{
        display: flex;
        justify-content: center;
        transition: 0.2s;
        &:hover{
            background: $titre;
        }
    }
}
