@import "mixins.scss";
@import "variables.scss";

.colorh3{
    color: $light;
}

h3{
    @extend .colorh3;
}

.colora{
    color: $link;
}

a{
    @extend .colora;
}

p{
    color: $titre;
    @include font-size;
}

footer{
    display: flex;
    justify-content: center;
    a{
        @include decoration;
    }
}

.intro{
    h1{
        display: flex;
        justify-content: center;
        transition: 0.2s;
        &:hover{
            color: $titre;
        }
    }
}

.intro{
    h2{
        &:hover{
        color: $titre;
        }
    }
}

