@import "mixins.scss";
@import "variables.scss";

h3{
    color: $light;
}

a{
    color: $link;
}

p{
    color: $titre;
}

footer{
    display: flex;
    justify-content: center;
    a{
        list-style-type: none;
        text-decoration: none;
    }
}